div#server_set li#server-node {
    margin-bottom: 20px;
}

.active { color: red; }

header {
    background-color: #222426;
    height: 60px;
    margin-right: 0;
    position: absolute;
    width: 100%;
    z-index: 200;
}

header div.brand {
    padding: 6px 0 0 0;
}

.flexbox {
    display: flex;
    overflow: hidden;
    flex-direction: row;
    min-height: 100vh;
}

div.subheader {
    position: absolute;
    margin-top: 60px;
    background-color: #2A2D2F;
    width: 100%;
    height: 46px;
    color: #00B280;
    z-index: 200;
    padding-top: 11px;
}

aside.sidebar {
    color: #001f3f;
    min-height: 100%;
    padding: 114px 0 0 10px;
    background-color: #DDFFDD;
    flex: 0 0 280px;
}

section.main-content-wrapper {
    padding: 114px 10px 10px 10px;
    /*border: 1px solid red;*/
    min-height: 100%;
    flex: 1;
}

.sidebar-header {
  color: #6f737e;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  padding: 10px 10px 5px;
  text-transform: uppercase;
}

.sidebar .nav a {
  font-weight: 600;
  text-decoration: none;
}
.sidebar .nav i {
    font-size: 1em;
    margin-right: 5px;
}
.sidebar .nav .nav-sub {
    display: none;
    list-style: outside none none;
    padding: 0;
}
.sidebar .nav .nav-sub li > a {
    display: block;
    font-size: 0.813em;
    padding: 8px 0 8px 10px;
}
.sidebar .nav > li > .nav-sub > li > a {
    padding-left: 22px;
}
.sidebar .nav > li > .nav-sub > li > .nav-sub > li > a {
    padding-left: 55px;
}
.sidebar .nav > li > .nav-sub > li > .nav-sub > li > .nav-sub > li > a {
    padding-left: 65px;
}
.sidebar .nav > li > .nav-sub > li > .nav-sub > li > .nav-sub > li > .nav-sub > li > a {
    padding-left: 70px;
}
.sidebar .nav > li > .nav-sub > li > .nav-sub > li > .nav-sub > li > .nav-sub > li > .nav-sub > li > a {
    padding-left: 75px;
}
.sidebar-mini .sidebar .nav > li > .nav-sub > li > a {
    padding-left: 25px;
}
.sidebar-mini .sidebar .nav > li > .nav-sub > li > .nav-sub > li > a {
    padding-left: 35px;
}
.sidebar-mini .sidebar .nav > li > .nav-sub > li > .nav-sub > li > .nav-sub > li > a {
    padding-left: 45px;
}
.sidebar-mini .sidebar .nav > li > .nav-sub > li > .nav-sub > li > .nav-sub > li > .nav-sub > li > a {
    padding-left: 55px;
}
.sidebar .nav .nav-sub .nav-dropdown > a {
    padding-right: 30px;
}
.sidebar .nav .nav-sub > .open > a, .sidebar .nav .nav-sub > .open > a:focus, .sidebar .nav .nav-sub > .open > a:hover {
    background-color: transparent;
    border-color: transparent;
}
.sidebar .nav-pills {
    margin-left: 5px;
    margin-right: 12px;
}
.sidebar .nav-pills > li > a {
    font-size: 0.875em;
    padding: 9px 10px;
}

.sidebar-left .nav > li.open > a,
.sidebar-left .nav > li > a:hover {
  background-color: #ffffff;
  color: #1d2939;
}

.sidebar-mini .sidebar-left .nav > li.nav-dropdown-open > a,
.sidebar-mini .sidebar-left .nav > li:hover > a {
    background-color: #fff;
    color: #1d2939;
}

.nav-pills .nav-item.open .nav-link,
.nav-pills .nav-item.open .nav-link:focus,
.nav-pills .nav-item.open .nav-link:hover {
  background-color: #29d1ca;
  color: #fff;
  cursor: pointer;
}

.nav-pills .nav-link.active,
.nav-pills .nav-link.active:focus,
.nav-pills .nav-link.active:hover {
  background-color: #27b6af;
  color: #fff;
  cursor: pointer;
}

.sidebar-left a {
  color: #1f7e9a;
}

.sidebar-left a:focus,
.sidebar-left a:hover {
  background-color: transparent;
  color: #001f3f;
}

.sidebar-left .active > a,
.sidebar-left .active > a:focus,
.sidebar-left .active > a:hover {
  /* Cor do item ativo dentro da categoria */
  color: #1d2939;
}

.sidebar-mini .sidebar-left .nav > li.open > a {
  background-color: transparent;
  color: pink;
}
.sidebar-left .nav > li > a:focus {
  /* A cor que fica o texto depois de clicar na categoria (focus) */
  background-color: #29d1ca;
  color: #fff;
}

.sidebar .nav-pills > li > a > .badge {
  margin: 3px 0;
}

.pull-right {
    float: right !important;
}

.nav-pills > li > a > .tag {
  margin-top: 2px;
  font-size: 80%;
  padding: 0.25em 0.4em 0.28em;
}

div.breadcrumbs span a,
div.breadcrumbs {
    color: #d4d4d4;
    font-size: 14px;
}

div.breadcrumbs span:first-child a {
    color: #00B280;
}